@model Web.Utilities.Mvc.Foundation.IndexViewModel<TestCSharpDeleteFile.Entities.OrganizationUnit>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m_title_box">
    <ol>
        <li data-id="Index">
            <a href="#">OrganizationUnit</a><i class="icon-arrowright"></i>
        </li>
        <li data-id="Index">Index</li>
    </ol>
    <div class="m_title_action">
        <a class="m_btn" href="@(this.Url.Action("Create", "OrganizationUnit", null))">New</a>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">OrganizationUnit</div>
    <div class="panel-body">
            @Html.Partial(Url.Content("../OrganizationUnit/_Search"), Model.SearchModel)
    <div class="table-responsive" id="OrganizationUnit_DataList">
            @Html.Partial(Url.Content("../OrganizationUnit/_DataList"), Model)
    </div>
    </div>
</div>
@this.Html.Partial("_DeleteDialog")
