
@{
    ViewBag.Title = "Index";
    Layout  = "~/Views/Shared/_Layout.cshtml";
}

<div class="m_title_box">
    <ol>
      
        <li data-id="Index">起始页</li>
    </ol>
    
</div>
<div class="panel panel-default">
    欢迎使用元元方
</div>